@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  .snack-bar-success {
    @include mat.snack-bar-overrides(
      (
        button-color: var(--mat-sys-on-surface),
        supporting-text-color: var(--mat-sys-on-surface),
        container-color: var(--custom-color-green),
      )
    );
  }
}
